{% extends 'User/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
 <style >
        .btnn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  padding: 9px 30px;
  background-color: #0a97b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
}

.btnn:hover{
  background-color: #065968;
}
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="/change_password5">
    {% csrf_token %}
  <table class="table table-borderless table-warning w-50 mx-auto"style="border-radius: 20px;">
    <tr>
      <th width="149" scope="row">Old Password</th>
      <td width="228"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required /></td>
    </tr>
    <tr>
      <th scope="row">New Password</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"  pattern="{4,}" required /></td>
    </tr>
    <tr>
      <th scope="row">Confirm Password</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3"  pattern="{4,}" required /></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input name="" class="btnn" type="submit" style="border-radius: 10px" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{%endblock%}