{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-dark">
    <tr>
      <th scope="row">#</th>
      <td>User Name</td>
      <td>Email</td>
      <td>Contact</td>
      <td>Post Address</td>
      <td>Pincode</td>
      <td>Home Town</td>
      <td>Country</td>
      <td>State</td>
      <td>Impt/Expt License </td>
      <td>Industrial Type</td>
    </tr>
            {% for i in data %}

    <tr>
      <th scope="row">{{forloop.counter  }}</th>
      <td>{{i.Username}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone }}</td>
      <td>{{i.address}}</td>
      <td>{{i.pincode}}</td>
      <td>{{i.near_by_town}}</td>
      <td>{{i.country}}</td>
      <td>{{i.state}}</td>
      <td>{{i.Expt_Impt_license_no }}</td>
      <td>{{ i.industry }};</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}